/** EWW.SCSS
Created by saimoom **/
*{
    all: unset;
    font-family: feather;
    font-family: "FiraCode Nerd Font";
}

/** General **/
.bar_class {
    background-color: rgba(36, 39, 58, 0.94);
    border-radius: 8px;
    border-style: solid;
    border-width: 1;
    border-color: #f5a97f;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: rgba(00, 00, 00, 0.0);
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}


/** Widgets **/

.clock_time_sep {
    font-size: 12;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
}
.clock_time_class, .clock_minute_class {
    font-size: 12;
}
.clock_date_class {
    font-size: 12;
    margin: 0px 10px 0px -1px;
    color: #F48FB1;
}
.clock_minute_class {
    font-size: 16;
    font-weight: 100;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
}

.clock_time_class {
    color: #ffffff;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    &.local {
        font-size: 16;
        font-weight: 900;
    }
    &.utc {
        font-size: 16;
        font-weight: 900;
    }
}

.time-stuff {
    &:last-child {
        margin: 0px 10px 0px 0px;
    }
}
.hour_sep {
    font-weight: 100;
    font-size: 14;
    color: #999;
    margin: 0 1px 0 1px;
}
.min_sep {
    font-weight: 100;
    font-size: 16;
    color: #eee;
}


.membar {
    color: #F1FA8C;
    background-color: #38384d;
    border-radius: 10px;
    font-size: 12;
}
.batbar {
    font-size: 10;
    color: #A1EFD3;
    background-color: #38384d;
    border-radius: 10px;
}
.bright_icon {
    font-size: 12;
    color: #F1FA8C;
    margin: 0px 10px 0px 0px;
}
.brightbar trough highlight {
  background-image: linear-gradient(to right, #F1FA8C 30%, #f2cdcd 50%, #F1FA8C 100% *50);
  border-radius: 10px;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
.volume_icon {
    font-size: 14;
    color: #92B6F4;
    margin: 0px 10px 0px 0px;
}


.module_essid {
    font-size: 10;
    color: #92B6F4;
    margin: 0px 10px 0px 0px;
}
.module-wifi {
    font-size: 10;
    color: #92B6F4;
    margin: 0px 10px 0px 5px;
}

.iconlauncher {
    color: #53E2AE;
    font-size: 16px;
    margin: 0px 0px 0px 15px;
}
.iconsearch {
    color: #FFFFFF;
    font-size: 12px;
}
.iconmem {
    color: #F1FA8C;
    font-size: 12;
    font-weight: 900;
    margin: 4.5px 4px 4.5px 4.5px;
}
.iconbat {
    color: #A1EFD3;
    font-size: 12;
    margin: 4.5px 4px 4.5px 5px;
}


.separ {
    color: #3e424f;
    font-weight: bold;
    font-size: 12px;
    margin: 0px 8px 0px 8px;
  }

.launcher_module {
    background-color: rgba(00, 00, 00, 0.0);
}
.mem_module {
    background-color: rgba(00, 00, 00, 0.0);
    border-radius: 16px;
    margin: 0px 10px 0px 3px;
}
.bat_module {
    background-color: rgba(00, 00, 00, 0.0);
    border-radius: 16px;
    margin: 0px 10px 0px 10px;
}


scale trough {
    all: unset;
    background-color: #22242b;
    box-shadow: 0 2px 3px 2px #06060b;
    border-radius: 16px;
    min-height: 10px;
    min-width: 70px;
    margin: 0px 10px 0px 0px;
}

.works {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0px 0px 10px;
    background-color: rgba(00, 00, 00, 0.0);
}


/* Unoccupied */
.workspace {
    margin: 0px 5px 0px 0px;
    color: #606060;
}

/* Occupied */
.occupied {
    color: #FFFFFF;
}

/* Focused */
.focused {
    color: #53E2AE;
}


.song_cover_art {
    background-size: cover;    
    background-position: center;
    min-height: 12px;
    min-width: 24px;
    margin: 10px;
    border-radius: 100px;
}

.song {
    color: #92B6F4;
    font-size : 12px;
    font-weight : bold;
    margin : 3px 5px 0px 0px;
}

.song_btn_play {
    color: #92B6F4;
    font-size : 12px;
    margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
    color: #bfc9db;
    font-size : 12px;
    margin : 3px 0px 0px 5px;
}
// Calendar
.cal {
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 16px;
    font-family: FiraCode Nerd Font;
    font-size: 18px;
    font-weight: normal;

    .cal-in {
        padding: 10px 20px 10px 20px;
        color: #bfc9db;

        .cal {
             &.highlight {
                  padding: 20px;
            }

            padding: 5px 5px 5px 5px;
            margin-left: 10px;
        }
    }
}

calender {
    color: #bfc9db;
    & :selected {
        color: #92B6F4;
    }

    &.header {
        color: #92B6F4;
        font-weight: bold;
    }

    &.button {
        color: #A1EFD3;
    }

    &.highlight {
        color: #92B6F4;
        font-weight: bold;
    }

    &:indeterminate {
        color: #bfc9db;
    }
}


.sys_sep {
    color: #38384d;
    font-size: 12;
    margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
    font-size: 12;
    color: #bbc5d7;
    margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
    font-size: 12;
    font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
    font-size: 30;
    margin: 30px;
}
.sys_win {
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 16px;
}
.sys_bat {
    color: #A1EFD3;
    background-color: #38384d;
    border-radius: 10px;
}
.sys_mem {
    color: #F1FA8C;
    background-color: #38384d;
    border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
    color: #A1EFD3;
}
.sys_icon_mem, .sys_text_mem {
    color: #F1FA8C;
}
.sys_bat_box {
    border-radius: 16px;
    margin: 15px 10px 10px 20px;
}
.sys_mem_box {
    border-radius: 16px;
    margin: 15px 10px 15px 20px;
}



.music_pop {
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 16px;
}
.music_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
    min-width: 170px;
    margin: 20px;
    border-radius: 20px;
}

.music {
    color: #92B6F4;
    font-size : 20px;
    font-weight : bold;
    margin : 20px 0px 0px -15px;
}

.music_artist {
    color: #bbc5d7;
    font-size : 16px;
    font-weight : normal;
    margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
    font-family: FiraCode Nerd Font;
}
.music_btn_prev {
    color: #bbc5d7;
    font-size : 32px;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}
.music_btn_play {
    color: #92B6F4;
    font-size : 48px;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}
.music_btn_next {
    color: #bbc5d7;
    font-size : 32px;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 100% *50);
    border-radius: 24px;
}
.music_bar scale trough {
    all: unset;
    background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
    border-radius: 24px;
    min-height: 13px;
    min-width: 190px;
    margin : -10px 10px 20px 0px;
}

.audio-box {
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 16px;
}
.speaker_icon {
    background-size: cover;
    background-image: url('images/speaker.png');
    background-position: center;
    min-height: 70px;
    min-width: 75px;
    margin: 10px 20px 5px 20px;
    border-radius: 12px;
}

.speaker_text {
    color: #92B6F4;
    font-size : 26px;
    font-weight : bold;
    margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 100% *50);
    border-radius: 24px;
}
.speaker_bar scale trough {
    all: unset;
    background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
    border-radius: 24px;
    min-height: 13px;
    min-width: 120px;
    margin : 0px 0px 5px 0px;
}




.mic_icon {
    background-size: cover;
    background-image: url('images/mic.png');
    background-position: center;
    min-height: 70px;
    min-width: 75px;
    margin: 20px 20px 20px 20px;
    border-radius: 12px;
}

.mic_text {
    color: #92B6F4;
    font-size : 26px;
    font-weight : bold;
    margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 100% *50);
    border-radius: 24px;
}
.mic_bar scale trough {
    all: unset;
    box-shadow: 0 6px 5px 2px #06060b;
    background-color: #232232;
    border-radius: 24px;
    min-height: 13px;
    min-width: 120px;
    margin : 0px 0px 20px 0px;
}

.audio_sep {
    color: #38384d;
    font-size: 18;
    margin : 0px 0px 0px 0px;
}

