[Unit]
Description=Get me my morning/evening news
RefuseManualStart=no
RefuseManualStop=no
 
[Timer]
Persistent=false
OnCalendar=*-*-* 07:00:00
OnCalendar=*-*-* 18:00:00
Persistent=true
Unit=nytimes.service
 
[Install]
WantedBy=default.target
